name: Hello World

on: push

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Say Hello
        run: echo "Hello World!"

      - name: Now it is
        run: date

      - name: Directory contents
        run: ls -l
