name: "Deployment pipeline: lint"

on:
  push:
    branches:
      - main

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Run actions/checkout@v2
        uses: actions/checkout@v2

      - name: Run actions/setup-node@v1
        uses: actions/setup-node@v1
        with:
          node-version: 16

      - name: npm install
        run: npm install

      - name: lint
        run: npm run eslint

      - name: build
        run: npm run build

      - name: test
        run: npm test
